global:
  name: terrakube

security:
  adminGroup: "TERRAKUBE_ADMIN"
  # patSecret and internalSecret are in pre-created K8s secret (see secrets.yml)
  dexClientId: "terrakube"
  dexClientScope: "email openid profile offline_access groups"

api:
  existingSecret: true
  secrets:
    - terrakube-api-secrets

ingress:
  useTls: false
  ui:
    enabled: true
    domain: "terrakube.tops.k11s.io"
    ingressClassName: "nginx"
  api:
    enabled: true
    domain: "terrakube-api.tops.k11s.io"
    ingressClassName: "nginx"
  registry:
    enabled: true
    domain: "terrakube-registry.tops.k11s.io"
    ingressClassName: "nginx"
  dex:
    enabled: true
    domain: "terrakube-dex.tops.k11s.io"
    ingressClassName: "nginx"

storage:
  defaultStorage: true

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 17.6.0-debian-12-r4

redis:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/redis
    tag: 8.2.1-debian-12-r0

minio:
  image:
    registry: docker.io
    repository: bitnamilegacy/minio
    tag: 2025.7.23-debian-12-r5
  clientImage:
    registry: docker.io
    repository: bitnamilegacy/minio-client
    tag: 2025.7.21-debian-12-r3

openldap:
  image:
    registry: docker.io
    repository: bitnamilegacy/openldap
    tag: 2.6.10-debian-12-r4
