global:
  name: terrakube

security:
  adminGroup: "TERRAKUBE_ADMIN"
  # patSecret and internalSecret are in pre-created K8s secret (see secrets.yml)
  dexClientId: "terrakube"
  dexClientScope: "email openid profile offline_access groups"

api:
  existingSecret: true
  secrets:
    - terrakube-api-secrets

ingress:
  useTls: false
  ui:
    enabled: true
    domain: "terrakube.tops.k11s.io"
    ingressClassName: "nginx"
  api:
    enabled: true
    domain: "terrakube-api.tops.k11s.io"
    ingressClassName: "nginx"
  registry:
    enabled: true
    domain: "terrakube-registry.tops.k11s.io"
    ingressClassName: "nginx"
  dex:
    enabled: true
    domain: "terrakube-dex.tops.k11s.io"
    ingressClassName: "nginx"

storage:
  defaultStorage: true

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: latest

redis:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/redis
    tag: latest

minio:
  image:
    registry: docker.io
    repository: bitnamilegacy/minio
    tag: latest
  clientImage:
    registry: docker.io
    repository: bitnamilegacy/minio-client
    tag: latest

openldap:
  image:
    registry: docker.io
    repository: bitnamilegacy/openldap
    tag: latest
